@model SingleServiceModel
@{
    ViewData["Title"] = Model.service.serviceName;
}

<style>
    body {
        overflow-y: hidden;
    }
</style>

<div class="capsule">
    <div class="home-container d-flex-column p-5">
        <div class="carousel-container container-fluid li-blu d-flex justify-content-center text-white d-flex flex-row p-2" style="overflow-y:hidden">
            <div class="row h-100 w-100">
                <div class="col col-sm-3 d-flex justify-content-start ps-2 pe-2 w-75 h-25">
                    <div class="m-3 mt-0 fs-1 d-flex justify-content-center align-items-center">
                        @Model.service.serviceName
                    </div>
                </div>
                <div class="col col-sm-3 d-flex justify-content-start align-items-center p-0 w-25 h-25">
                    <div class="text-start fs-4 my-auto ps-0 me-2">
                        @if(Model.service.servicePrice == "По договаряне")
                        {
                            <span>Цена: @Model.service.servicePrice</span>
                        } else
                        {
                            <span>Цена: @Model.service.servicePrice лв/м&sup2;</span>
                        }
                        
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col col-sm-3 d-flex justify-content-center px-4 w-50 h-75">
                    <table class="table" id="detailsTable">
                        <thead>
                            <tr>
                                <th class="p-0" scope="col">Дейности</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (string line in Model.service.serviceDesc)
                            {
                               <tr>
                                    <td class="text-center align-middle">@line</td>
                               </tr> 
                            }
                            
                        </tbody>
                    </table>
                </div>
                <div class="col col-sm-3 justify-content-start px-4 w-50 h-75">
                    <form asp-action="Inquire" method="post" id="contact-form" name="contact-form" enctype="multipart/form-data" novalidate>
                        <div class="row mt-2">
                            <div class="fs-3 text-center">Отправете запитване</div>
                        </div>

                        <!--Grid row-->
                        <div class="row mt-4">

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-1">
                                    <input asp-for="inquiry.name" type="text" id="name" name="inquiry.name" class="form-control" autocomplete="off" />
                                    <label asp-for="inquiry.name" class="">Име и фамилия</label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-1">
                                    <input asp-for="inquiry.email" type="text" id="email" name="inquiry.email" class="form-control" autocomplete="off" />
                                    <label asp-for="inquiry.email" class="">Имейл адрес</label>
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row mt-2">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea asp-for="inquiry.message" type="text" id="message" name="inquiry.message" rows="2" class="form-control md-textarea"></textarea>
                                    <label asp-for="inquiry.message">Съобщение</label>
                                    <input hidden asp-for="inquiry.subject" />
                                    <input hidden asp-for="service.id" value="@Model.service.id" />
                                    <input hidden asp-for="service.serviceName" value="@Model.service.serviceName" />
                                    <input hidden asp-for="service.servicePrice" value="@Model.service.servicePrice" />
                                    <input hidden asp-for="service.serviceDesc" value="@Model.service.serviceDesc" />
                                    <input hidden asp-for="service.key" value="@Model.service.key" />
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="text-center text-md-left mt-3">
                            <button class="btn btn-primary" type="submit">Изпрати</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>